___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
def get_min(a,b):
    if(a < b): return a
    return b
def get_max(a,b):
    if(a > b): return a
    return b

In [5]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return get_min(a,b)
    else: return get_max(a,b)
    pass

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(text):
    [a , b] = text.split()
    if(a[0] == b[0]): return True
    return False

In [11]:
# Check
animal_crackers('Levelheaded Llama')

True

In [12]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20: return True
    if n1 == 20 or n2 == 20: return True
    return False

In [14]:
# Check
makes_twenty(20,10)

True

In [15]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [35]:
def split_word(word):
    a = [char for char in word]
    return a

In [37]:
a = "macdolnald"
# array =  split_word(a)
array = list(a)
print(array)

['m', 'a', 'c', 'd', 'o', 'l', 'n', 'a', 'l', 'd']

In [46]:
word = ""
word = word.join(array)
# for letter in array:
#     print(letter)
#     word.joi
word

'macdolnald'

In [47]:
def old_macdonald(name):
    newName = ""
    array = list(name)
    array[0] = array[0].capitalize()
    array[3] = array[3].capitalize()

    return newName.join(array)

In [48]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [59]:
a = [1,1,5,15,]
a.reverse()
a

[15, 5, 1, 1]

In [60]:
def master_yoda(text):
    array = text.split(" ")
    array.reverse()
    return " ".join(array)

In [61]:
# Chec
master_yoda('I am home')

'home am I'

In [62]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [80]:
def almost_there(n):
    diff100 = abs(n - 100)
    diff200 = abs(n - 200)
    if(diff100 <= 10 or diff200 <= 10): return True

    return False

In [73]:
# Check
almost_there(104)

True

In [74]:
# Check
almost_there(150)

False

In [79]:
# Check
almost_there(191)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [87]:
def has_33(nums):
    for i, item in enumerate(nums):
        if(i == len(nums)-1): return False
        if item == 3 and nums[i+1] == 3: return True
    return False

In [102]:
def has_33_lela(nums):
    a = "".join(str(x) for x in nums)
    if "33" in a: return True
    return False

In [104]:
# Check
has_33_lela([1, 3, 3])

True

In [103]:
# Check
has_33_lela([1, 3, 1, 3])

False

In [93]:
# Check
has_33([3, 1, 3,4, 3,1])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [106]:
"a"*3

'aaa'

In [107]:
def paper_doll(text):
    a = ""
    for letter in text:
        a = a + letter*3
    return a

In [108]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [109]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [121]:
def blackjack(a,b,c):
    cards = [a,b,c]
    sum = a+b+c
    if sum <= 21: return sum
    if sum > 21 and 11 in cards and sum - 10 <= 21: return sum -10
    return "BUST"
    pass

In [123]:
# Check
blackjack(5,6,7)

18

In [119]:
# Check
blackjack(9,9,9)

'BUST'

In [124]:
# Check
blackjack(9,9,11)

19

In [125]:
# Check
blackjack(9,18,11)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [129]:
def summer_69(arr):
    sum = 0
    locator = 0
    for num in arr:
        if locator != 6 and num != 6: sum = sum + num
        if num == 6: locator = 6
        if num == 9: locator = 9
    return sum

In [127]:
# Check
summer_69([1, 3, 5])

9

In [130]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [131]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [134]:
def spy_game(nums):
    for i ,item in enumerate(nums):
        if i > len(nums) - 2: return False
        if item == 0 and nums[i +1] == 0 and nums[i + 2] == 7: return True
    return False

In [163]:
def spy_game_lela(nums):
    a = "".join(str(item) for item in nums)
    return "007" in a

In [160]:
def spy_game_nother(nums):
    a = ""
    for item in nums:
        a = a + str(item)
    return "007" in a

In [164]:
# Check
spy_game_lela([1,2,4,0,0,7,5])

True

In [165]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [166]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [240]:
def is_prime(num):
    if num == 1 or num == 0: return False
    count = 0
    for den in range(1,num+1):
        if num % den == 0: count+=1
    return count <= 2

In [233]:
is_prime(4)

den 1
den 2
den 3
den 4

False

In [241]:
def count_primes(num):
    count = 0
    for item in range(2,num-1):
        if is_prime(item):
            count = count + 1
    return count

In [242]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [248]:
patters = {'a': ["  *  " ," * * " , "*****" , "*   *", "*   *"]}

In [249]:
def print_big(letter):
    for item in patters[letter]:
        print(item)

In [250]:
print_big('a')s

  *
 * *
*****
*   *
*   *

## Great Job!